<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <th>Title</th>
    <th>Content</th>
    <th>EditTime</th>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.content }}</td>
            <td>{{ object.editTime }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>